[submodule "realsim_joy"]
	path = realsim_joy
	url = https://github.com/reyanshsolis/realsim_joy.git
[submodule "Firmware"]
	path = Firmware
	url = https://github.com/PX4/Firmware.git
[submodule "VINS-Fusion"]
	path = VINS-Fusion
	url = https://github.com/HKUST-Aerial-Robotics/VINS-Fusion
[submodule "avoidance"]
	path = avoidance
	url = https://github.com/PX4/avoidance.git
	branch = stable
